/* ==========================
*  Shop Profile
============================*/
.food-nav {
	background: #37474f;
	color: #fff;
}

.food-nav a {
	color: #fff !important;
}

.food-nav ul.dropdown-menu {
	background: #37474f;
}
.food-nav ul.dropdown-menu a {
	padding: 5px;
}
.food-nav ul.dropdown-menu a:hover {
	background: #263238;
}

/* ==========================
*  User profile
============================*/
.user-profile .restaurant-img {
	margin-top: 35px;
}

.user-profile .time {
	font-size: 14px;
	color: #616161;
	text-align: center;
	margin-top: 6px;
}

.user-profile .profile-rating {
	font-size: 16px;
	color: #f44336;
	margin-top: 18px;

}

.user-profile .comment {
	font-family: helvetica, ariel, sans-serif;
	margin-left: 10px;
}

.profile-sidebar h5 {
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	margin: 25px 0 20px 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #bdbdbd;

}

.profile-sidebar h4 {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin: 10px 0;
} 

.user-profile .single-review {
	padding: 10px;
	margin: 5px;
	border-bottom: 1px solid #bdbdbd;
}

.bookmark .delete a {
	font-size: 30px;
	margin-top: 15px;
	display: block;
	color: #616161;
	transition: color .4s;
}
.bookmark .delete a:hover {
	color: #c62828;
}
.bookmark .single {
	padding: 10px;
	margin: 5px;
	border-bottom: 1px solid #e0e0e0;
}

/* ==========================
*  review edit page
============================*/
.sidebar-review .image {
	
	padding: 0;
	margin: 0;
}

.sidebar-review .timestamp p {
	display: inline-block;
	color: #757575;
	margin-left: 10px;
	font-size: 14px;
}
.sidebar-review img {
	border-radius: 50%;
}

.sidebar-review .single {
	border-bottom: 1px solid #e3e3e3;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

/* ==========================
*  Clarifai
============================*/
.upload-file {
	width: 100%;
	height: 300px;
	background: #26a69a;
	text-align: center;
	position: relative;
	margin-top: 20px;

	border-radius: 5px;
}

.clarifai #image-holder img {
	width: 100%;
	height: 300px;
	border-radius: 5px;
}

.clarifai-form {
	/*position: absolute;*/
	/*left: 25%;*/
	/*top: 25%;*/
	/*display: none;*/
}

.clarifai-form button {
	margin-top: 20px;
}

.clarifai-form input[type=file] {
	display: none;
}

.upload-icon {
	font-size: 50px;
	position: absolute;
	top: 70px;
	left: 180px;
	color: #fff;
}

.clarifai {
	height: 800px;
}

.clarifai .loading {
	margin-top: 40px;
}

.clarifai .right ul {
	padding: 0;
	margin: 0;
	margin-top: 30px;
	/*display: block;*/
	/*width: 200px;*/
}

.clarifai .right ul li {
	list-style: none;
	border: 1px solid #00bfa5;
	display: inline-block;
	padding: 10px 10px 10px 10px;
	background: #1de9b6;
	color: #000;
	font-weight: bold;
	border-radius: 5px;
	margin-right: 10px;
	margin-top: 10px;
}

.container {
	width: 1000px;
}

/* ==========================
*  User Photos
============================*/
/*.modal-dialog{
    position: relative;
    display: table; 
    overflow-y: auto;    
    overflow-x: auto;
    width: auto;
    min-width: 300px;   
}*/

.photos {
	margin-top: 20px;
}
.photos .single {
	width: 250px;
	display: inline-block;
	margin-right: 10px;
}

.photos .single img {
	width: 100%;
	height: 150px;
	border-radius: 7px;
}

/* ==========================
*  Profile edit
============================*/
.sidebar .card img {
	border-radius: 50%;
	width: 80px;
	height: 80px;
	margin: auto;
	position: absolute;
	left: 70px;
	top: 10px;
} 

.card .img-container {
	position: relative;
	background: #00bfa5;
	height: 100px;
	margin-top: 10px;
}

.card .user-desc h3 {
	margin-top: 10px;
	font-size: 16px;
	font-weight: bold;
}

.card .location {
	font-size: 13px;
	color: #757575;
}

.sidebar .card {
	text-align: center;
	/*background: #666;*/
}

.sidebar ul.settings {
	margin: 0;
	padding: 0;
}

ul.settings li {
	list-style: none;
}

ul.settings a {
	display: block;
	padding: 10px 10px 10px 20px;
	color: #616161;
	background: #fff;
	text-decoration: none;
	transition: all .1s;
	border-bottom: 1px solid #e3e3e3;
}

ul.settings a:hover {
	background: #eeeeee;
	color: #00bfa5;
}

.settings .icon-right {
	float: right;
}

/* ==========================
*  Recipe search page
============================*/
@import url('https://fonts.googleapis.com/css?family=Raleway');
.recipe-container {
	font-family: 'Raleway', sans-serif;
	background: #e0f7fa;
	min-height: 600px;
}
.recipe {	
	width: 600px;
	margin: 100px auto;
}
.recipe h1 {
	margin-bottom: 50px;
	text-align: center;
	font-weight: bold;
	-moz-animation-duration: 3s;	
}

.recipe .ingredients ul {
	margin: 0;
	padding: 0;
}

.recipe span.delete {
	font-size: 20px;
	cursor: pointer;
	display: inline-block;
	margin-left: 10px;
	transition: all .3s;
}

.recipe span.delete:hover {
	-moz-transform: scale(1.2);
}

.ingredients ul li {
	list-style: none;
	border: 1px solid #ff4081;
	display: inline-block;
	padding: 10px;
	margin: 10px;
	border-radius: 4px;
	min-width: 300px,
}

.recipe-result {
	margin-bottom: 10px;
	padding: 10px;
	border-bottom: 1px solid #42a5f5;
}

/* ==========================
*  Comment/Review Box
============================*/
.single-comment {
	
}

.dropdown-position {

}
.comment-edit {
	/*position: absolute;*/
	float: right;
	margin-right: 10px;
	font-size: 20px;

}

.comment-edit a {
	color: #666;

}

body {
	padding-top: 50px !important;
}
/* ==========================
*  Comment/Review Box
============================*/
/*Set icon to top right*/
.comment-box {
	position: relative;
	/*background: #666;*/
}

.image-icon {
	position: absolute;
	top: 50px;
	right: 30px;
	font-size: 18px;
	color: #666;
}

.new-comment input[type=file] {
	display: none;
}

.new-comment #image-holder {
	margin-top: 10px;
}
.new-comment #image-holder img {
	width: 80px;
	height: 80px;
	margin-right: 10px;
	border: 1px solid #e3e3e3;
}

/* ==========================
*  Helpers
============================*/
.center {
	text-align: center;
}


/* ==========================
*  Front page
============================*/
.search {
	text-align: center;
	height: 700px;
	/*background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('landingpagepic.jpg');*/
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), #e3e3e3 url('../images/front2.jpg') no-repeat;
	background-size: cover;
	background-position: center top; 
	color: #fff;

	margin: 0;
	padding: 0;
}

.search h1 {
	padding-top: 200px;
	margin: 0;
	font-size: 40px;
}

.search h5 {
	font-size: 20px;
	margin-bottom: 40px;
}

.search form {
	width: 500px;
	margin: auto;
}



/* ==========================
*  Shop Profile
============================*/
.shop-profile {
	height: 300px;
	
}
.profile-img {
	margin-top: 50px;
}
.profile-desc {
	/*color: #fff;*/
}
.profile-desc h3 {
	font-weight: bold;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 30px;
}
.btn-red {
	background: #dd2c00;
}
.btn-green {
	background: #00c853;
}
.profile-desc a {
	/*color: #fff;*/
}



/* ==========================
*  Footer
============================*/

footer {
	background: #263238;
	color: #b0bec5;
	padding: 90px 0;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 300;
}

footer ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

footer ul li {
	margin-bottom: 6px;
	font-size: 14px;
}

footer ul li a {
	text-decoration: none;
	color: #f30;

}

footer a:hover {
	color: #fff;
	text-decoration: none;
}
footer h4 {
	margin-bottom: 15px;
}

.top-footer {
	margin-bottom: 20px;
}


/* ==========================
*  Search Page
============================*/

.search-page-cover {
	height: 200px;
	
	background: #e3e3e3 url("/images/search.jpg") no-repeat;
	background-size: cover;
	background-position:center center;
	background-attachment:fixed;
}

.rating-block {
	font-size: 16px;
	color: #f44336;
}

.btn-dash {
	border: 2px dashed #c62828;
	color: #c62828;
	border-radius: 3px;
	transition: all .3s;
}

.rating-block {
	margin-bottom: 10px;
}

.btn-dash:hover {
	border: 2px solid #ff1744;
	background: #ff1744;
	color: #fff;
}

.restaurant-entry {
	padding: 10px;
	border-bottom: 1px solid #ffcdd2;
	margin-bottom: 10px;
}

.shop-details h3 {
	margin: 0 0 10px 0;
}
.shop-details h3 a {
	color: #f44336;
}

/* ==========================
*  Restaurant Profile Page
============================*/
.shop-profile {
	background: #eeeeee;
}

.profile {
	padding-top: 30px;
}

img.profile-pic {
	width: 150px;
	height: 150px;
	float: left;
	border-radius: 50%;
	margin-right: 25px;
}


.review-box {
	border: 1px solid #e3e3e3;
	border-radius: 3px;
	/*box-shadow: 0 0 1px rgba(0,0,0, .5);*/
	background: #fff;
}

.reviews {
	margin-top: 10px;
}

.pro-image img {
	border-radius: 50%;
	width: 100px;
	height: 100px;
}

.pro-image {
	margin-top: 10px;
	text-align: center;
}
.pro-image h3 a {
	color: #01579b;
	font-size: 18px;
}

.pro-image p.location {
	margin-top: 10px;
	font-size: 13px;
	color: #424242;
	font-weight: bold;
}
.user-comments .user-rating {
	margin-left: 0;
	color: #f44336;
}

.user-comments .timeline {
	font-size: 12px;
	color: #757575;
	font-weight: bold;
}

.user-comments p.comment-body {
	font-size: 14px;
	color: #212121;
}

.comment-img {
	margin-top: 20px;
	margin-bottom: 10px;
}

.comment-img img {
	border-radius: 7px;
}

.user-vote {
	margin: 20px 0 0 0px;
}

.user-vote p {
	font-size: 12px;
	color: #757575;
	font-weight: bold;
	margin-bottom: 5px;
}

.user-vote a {
	background: #eeeeee;
	border: 1px solid #bdbdbd;
	color: #616161;
	font-weight: bold;
	margin-right: 5px;
	padding: 6px;
}

.user-vote a span.badge {
	background: #01579b;
}

.single-comment {
	padding: 10px;
	border-bottom: 1px solid #e3e3e3;
}

.restaurant-rating {
	font-size: 20px;
	color: #d32f2f;
}

span.open {
	display: inline-block;
	margin-top: -10px;
	padding: 0;
}

.profile-header h2 {
	display: inline-block;
	margin-right: 20px;
}

/* ==========================
*  New comment box design
============================*/
.comment-btn {
	float: right;
	margin-top: 10px;
}
.new-comment .form-group {
	margin: 0;
}

.new-comment {
	margin-top: 10px;
	margin-bottom: 10px;
}

.profile-img img {
	width: 240px;
	height: 140px;
}
span.nav-link {
	color: yellow;
}

/* ==========================
*  Login page
============================*/

.login, .register {
	/*margin: 100px 400px;*/
	
	width: 400px;
	margin: auto;
	/*border: 1px solid grey;*/
	padding: 20px; 
	border-radius: 5px;
	/*box-shadow: 0 0 10px 2px rgba(0,0,0,.5);*/
	margin-bottom: 30px;
}

.register {

}
.login h3 {
	text-align: center;
	margin-bottom: 50px;
}

.login, .register, .down {
	padding-top: 100px;
}

/* ==========================
*  Maps
============================*/
.sidebar {
	position: relative;
}
#map {
	width: 100%;
	height: 400px;
}

/* ==========================
*  Rating for comment box
============================*/
.rating { 
  border: none;
  float: left;
  margin-top: -8px;
  margin-left: 10px;
}
.user-rating {
	margin-left: 20px;
	color: #ff5722;
	/*opacity: 0;*/
}

.user-comments h4 {
	margin-bottom: 0;
}

span.timeline {
	display: block;
	margin-bottom: 10px;
	font-size: 14px;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

/* Body */
/*body { padding-top: 70px; }*/
